<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CheckOut</title>
    <style>
        body {
            background-color: peachpuff;
        }
    </style>
</head>
<h3 style="color:green;text-align:center;">Tack för ditt köp!</h3>
<h4>Här är en lista av dina produkter:</h4>
<body>
<table th:each="ol : ${customerorder.orderLines}">
        <tr>
            <td> <span th:text="${ol.amount}"/>st</td>
            <td th:text="${ol.product.name}"/>
            <td><span th:text="${ol.product.price}"/>kr</td>
        </tr>
</table>
<b>Total belopp: <td th:text="${totalprice}"/> kr</b>
<img src="amanita.jpeg" alt="Röd flugsvamp" width="100" height="120">
</body>
</html>