<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkter</title>
</head>
<body>
<div th:each="p : ${products}">
    <td th:text="${p.name}"></td>
    <td th:text="${p.category}"></td>
    <td th:text="${p.price}"></td>
    <form action="/addtocart" method="post">
        <input type="hidden" name="id" th:value="${p.id}">
        <input type="text" name="amount" value="1">
        <input type="submit" value="Välj">
    </form>
</div>
</body>
</html>