<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web shop</title>
    <style>
        body {
            background-color: deepskyblue;
        }
    </style>
</head>
<body>
<h3 style="color:blue;text-align:center;">Kategori lista:</h3>
<form th:action="@{/webshop}" method="post">
    Produkt kategori: <select name="category">
    <option th:each="c : ${T(com.example.webshop.business.Category).values()}"
            th:value="${c}" th:text="${c}"></option>
</select></br>
    <input type="submit" value="Välj">
    </form>
<form action="/searchproducts" method="post">
    <input type="text" name="product" id="search-input"></br>
    <input type="submit" value="Sök"/>
    <div th:each="p : ${products}"></div>
</form>
<p>Visa alla  <a href="/all">produkter</a>.</p>
<p>Visa <a href="/cart">varukorgen</a></p>
</div>
<img src="mycena.jpeg" alt="blodhätta" width="100" height="120">
</body>
</html>